#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
.st-emotion-cache-1avcm0n {display: none;}
.st-emotion-cache-18ni7ap {
    position: unset !important;
}
.dashboard_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2C3E50;
    margin-bottom: 1rem;
}

.stApp {
    background-color: #f7f9fa;
    font-family: 'Helvetica Neue', sans-serif;
}
